*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}


.slider__container {
    overflow: hidden;
}


.slider {
    display: flex;

    transition: transform .5s linear;
    position: relative;
    z-index: 1;

    height: 100%;
    width: 100%;
}

.slide {
    display: flex;
    align-items: center;

    height: 90vh;
    width: 100%;
    flex-shrink: 0;

    padding: 0 20rem;
}

.slide__image {
    display: flex;
}

/*control*/
.left,
.right {
    position: absolute;
    top: 50%;
    left: 200px;
    z-index: 3;

    width: 50px;
    height: 100vh;

    transform: translateY(-50%) translateZ(0);
    cursor: pointer;

    color: white;
    white-space: nowrap;

    background: 0;
    border: 0;
    padding: 0;

    overflow: hidden;

    transition: .1s color linear, .1s background linear;

    outline: none;
}

.right {
    left: auto;
    right: 200px;
}

/*dots*/

.panel-dots {
    text-align: center;
}
.dot{
    cursor: pointer;

    height: 12px;
    width: 12px;

    margin: 0 2px;

    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;

    transition: background-color 0.6s ease;
}
.active,
.dot:hover {
    background-color: #aaa;
}